<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel='stylesheet' href="../static/styles/bootstrap.css">
    </head>
    <body>
	<form action="{{url}}" method="post">
            <input type="submit" value="Sign Resignation Letter"
                style="width:13em;height:2em;background:#1f32bb;color:white;font:bold 1.5em arial;margin: 3em;"/>
    	</form>

    </body>

</html>
